<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/SearchCss.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body background="~/Content/background.png">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ТвоеМеню", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Дом", "Index", "Home")</li>
                    <li>@Html.ActionLink("О сайте", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    
                   
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="topnav" style="">
                        <div class="search-container" style="display: flex;">
                            @using (Html.BeginForm("SearchRecipeByName", "Home"))
                            {
                                    <input type="text" style="border-bottom-left-radius:2px;border-top-left-radius:2px" placeholder="Поиск.." name="search">
                            }
                            @using (Html.BeginForm("SearchRecipe", "Home"))
                            {
                                <button type="submit" style="border-bottom-right-radius:2px;border-top-right-radius:2px;background-color:#cad8c5;"><i class="fa fa-search"> Продвинутый</i></button>
                            }
                        </div>
                    </div>
                </li>
                @if (!User.Identity.IsAuthenticated)
                {
                <li>@Html.ActionLink("Вход", "Login", "Account")</li>
                <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                }
                else
                {
                <li>
                    @Html.ActionLink("Привет " + @User.Identity.Name, "UsersProfile", "Account", new { email = User.Identity.Name }, null)
                </li>
                <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
                }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
