@model BLL.DTO.RecipeDTO
@{
    ViewBag.Title = "Recipe";
}
<div class="recipe">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <img src="@Html.DisplayFor(model => model.ImageHref)" />

    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("AddToRecUserRecipeList", "Home", new { recipeId = Model.RecipeId }))
        {
            <input type="submit" value="Add recipe" />
        }
    }

    @for (int i = 0; i < Model.Products.Count; i++)
    {
        <div class="ingredients">
            <span class="value">@Model.ProductCopasity.ElementAt(i)</span>
            <span class="type">@Model.Products.ElementAt(i).Unit</span>
            <span class="name">@Model.Products.ElementAt(i).Name</span>
        </div>
    }

    <div class="description">
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>
</div>

