@model BLL.DTO.RecipeDTO
@{
    ViewBag.Title = "Recipe";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/MicrosoftAjax.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/MicrosoftMvcAjax.js"></script>
    <link href="~/Content/RecipeCss.css" rel="stylesheet" />
</head>
<body>
    <div class="commonDiv">
        <div style="margin-left: 11px;">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <div class="recipeInfo">
            <div class="imgDiv">
                <img class="img-thumbnail" style="width: 65%;" src="@Html.DisplayFor(model => model.ImageHref)" />
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Action("GetRanks", Model);
                }

            </div>

            <div class="ingredientsDiv" style="width: 310px;margin-top: 10px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: #cad8c5;">
                        <div class="title">Ингредиенты:</div>
                    </li>
                    @for (int i = 0; i < Model.Products.Count; i++)
                    {
                        <li class="list-group-item" style="max-width:300px;min-width:300px">

                            <div class="ingredients">

                                <span class="name">@Model.Products.ElementAt(i).Name</span>
                                <span class="value">@Model.ProductCopasity.ElementAt(i)</span>
                                <span class="type">@Model.Products.ElementAt(i).Unit</span>
                            </div>
                        </li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {

                    using (Ajax.BeginForm("AddToRecUserRecipeList", "Home", new { recipeId = Model.RecipeId },
                    new AjaxOptions { OnSuccess = "onuploadsuccess", OnFailure = "onuploadfailor", HttpMethod = "POST" },
                    new { enctype = "multipart/form-data" }))
                    {
                        <div class="statusRecipe" style="display:flex;">
                            <input type="submit" style=" font-size: 17px;" class="btn btn-primary btn-sm" id="addToListButton" value="Добавить в список" />
                        </div>
                    }

                }
                <div style="display: none;">
                    <p id="recipeIdVal">@Model.RecipeId</p>
                </div>
            </div>
        </div>


    </div>
    <div class="description">
        <p style="font-size:14px">@Html.DisplayFor(model => model.Description)</p>
    </div>

</body>
</html>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">

    function onupsuccessRanked(data) {
        alert("YEs")
    }

    function onRankedfailor(errorData) {
        alert("No");
    }

    $(document).ready(function () {
        checkIfInListAjax();
    });

    function checkIfInListAjax() {
        console.log('load');
        var recipeId = [];
        recipeId.push(document.getElementById("recipeIdVal").innerHTML)
        $.ajax({
            type: "POST",
            url: "/Home/ChekifInList",
            data: JSON.stringify(recipeId),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (!data) {
                    var elem = document.getElementById("addToListButton");
                    elem.outerHTML = "<p>Уже в вашем листе</p>";
                }
            },
            error: errorFunc
        });

    }

    function alreadyInList(data) {

        if (!data)
            elem.outerHTML = "<p>Уже в вашем листе</p>";
    }

    function errorFunc(errordata) {
        console.log(errordata)
    }
    function onuploadsuccess(data) {
        var elem = document.getElementById("addToListButton");
        if (data)
            elem.outerHTML = "<p>Успешно добавлен</p>";
    }

    function onuploadfailor(errorData) {
        //alert(errorData);
    }



</script>
