@model IEnumerable<BLL.DTO.RecipeDTO>
@{
    ViewBag.Title = "List of favorites";
}
<link href="~/Content/RecipeCss.css" rel="stylesheet" />
<div style="background-color:#ffffff" class="commonDiv">
    <h2>Список любимых рецептов</h2>
    <table id="tableBody" class="table">
        <tr>
            <th>Наимменование рецепта</th>
            <th>Рейтиниг</th>
            <th>Действие</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Name, "Recipe", "Home", new { id = item.RecipeId }, new { @class = "navbar-brand" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeId)
                </td>
                <td>
                    @Ajax.ActionLink("Удалить", "DeleteRecipeFromUserList", new { recipeId = item.RecipeId },
                        new AjaxOptions { UpdateTargetId = "tableBody", OnSuccess = "RemoveRow", Confirm = "Are you Sure You Want to Delete " + @item.Name, })
                </td>
            </tr>
        }
    </table>
</div>

<script>
    function RemoveRow() {
        var $tr = $(this).closest('tr');
        $tr.remove();
    }
</script>